/* Latin subsets of the two faces the console design is drawn in, shipped with
   the repo so the trainer still looks right on a phone with no internet.
   Both are SIL Open Font License 1.1; see assets/fonts/LICENSE.
   tools/build.py inlines these as data URIs, so dist/index.html stays one file.
   Glyphs outside the latin range (▲ ▼ ✓ ←) fall back to the system face. */
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:400;font-display:swap;
  src:url(../assets/fonts/chakra-petch-400-latin.woff2) format('woff2')}
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:500;font-display:swap;
  src:url(../assets/fonts/chakra-petch-500-latin.woff2) format('woff2')}
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:600;font-display:swap;
  src:url(../assets/fonts/chakra-petch-600-latin.woff2) format('woff2')}
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:700;font-display:swap;
  src:url(../assets/fonts/chakra-petch-700-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:400;font-display:swap;
  src:url(../assets/fonts/ibm-plex-mono-400-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:500;font-display:swap;
  src:url(../assets/fonts/ibm-plex-mono-500-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:600;font-display:swap;
  src:url(../assets/fonts/ibm-plex-mono-600-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:700;font-display:swap;
  src:url(../assets/fonts/ibm-plex-mono-700-latin.woff2) format('woff2')}
